name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: browser-actions/setup-chrome@v1
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose --tests
    - name: Run tests
      run: cargo test --verbose

  windows:
    runs-on: windows-latest

    steps:
    - uses: browser-actions/setup-chrome@v1
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose --tests
    - name: Run tests
      run: cargo test --verbose

  macos:
    runs-on: macos-latest

    steps:
    - uses: browser-actions/setup-chrome@v1
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose --tests
    - name: Run tests
      run: cargo test --verbose
